---
layout: home
---
<div class="user-details">
<h2> 关于我和这个网站 </h2>
<p style="text-align: justify;text-indent:2em;">我是一名普通的社畜。我建立了这个网站（<a href="https://github.com/Smileye-v/Smileye-v.github.io">此处为网站源代码</a>），用来放置我的一些个人项目和学习博客。欢迎你对我的贴子发表评论和提出建议，这个网站还会不断修改。您可以在我的<a href="{{site.url}}{{site.baseurl}}/about/xiaowei-ye-resume.pdf">简历</a>页面了解关于我的更多信息。</p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> 网站的来访者 </h3>
	{% include clustrmap.html style="js" %}
	<p> <small> 如果您没有看到地图，请禁用广告屏蔽并刷新 </small></p>
</div>
</div>
<div class="permlinks">
<h2>最近的帖子</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">所有帖子列表</a> </p>
</dl>

<h2>我的个人作品</h2>
<ul>
	<li><a href="https://smileye-v.github.io/zhiju-pages/">智居</a></li>
	<li><a href="https://smileye-v.github.io/pet-house-pages/">Pet House(宠物之家)</a></li>
</ul>

<h2>一些有趣的网站</h2>
<ul>
	<li><a href="https://musclewiki.com/">肌肉维基，卡路里计算器</a></li>
	<li><a href="https://postsecret.com/">邮寄秘密</a></li>
	<li><a href="https://www.windy.com/?37.456,126.729,5">可视化天气预报</a></li>
	<li><a href="https://hackertyper.net/">黑客乔装器</a></li>
	<li><a href="https://rainymood.com/">各种下雨声</a></li>
	<li><a href="https://www.howmanypeopleareinspacerightnow.com/">现在有多少人在太空中?</a></li>
	<li><a href="http://www.windows93.net/">体验windows93系统</a></li>
	<li><a href="https://mrdoob.com/">多人画画空间</a></li>
	<li><a href="https://firms.modaps.eosdis.nasa.gov/map/#t:adv;d:2019-08-16..2019-08-23;l:viirs,modis_a,modis_t,country-outline;@0.0,0.0,3z">全球实时火灾地图</a></li>
	<li><a href="https://www.window-swap.com/">打开一扇窗户</a></li>
	<li><a href="https://seaside-station.com/">日本能看到海景的地铁站</a></li>
</ul>

</div >
