{% if include.style == "js" %}  
<a href='https://clustrmaps.com/site/1bgpc'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=tt&d=hPOIe9_814_3FJKtk6J0ehDbp0fNGAv5gpzt-8QPuvA'/></a>
{% elsif include.style == "hiddenpng" %}  
<div hidden class="analytics" aria-hidden="true">
	 <img src="//www.clustrmaps.com/map_v2.png?d={{ site.author.clustrmap }}&cl=ffffff" />
</div>
{% else %}
	 <img src="//www.clustrmaps.com/map_v2.png?d={{ site.author.clustrmap }}&cl=ffffff" />
{% endif %}