{% if include.style == "js" %}  
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=tt&d=hPOIe9_814_3FJKtk6J0ehDbp0fNGAv5gpzt-8QPuvA&co=9fc0d7&cmo=e68282&cmn=7fd87f&ct=ffffff'></script>
{% elsif include.style == "hiddenpng" %}  
<div hidden class="analytics" aria-hidden="true">
	 <img src="//www.clustrmaps.com/map_v2.png?d={{ site.author.clustrmap }}&cl=ffffff" />
</div>
{% else %}
	 <img src="//www.clustrmaps.com/map_v2.png?d={{ site.author.clustrmap }}&cl=ffffff" />
{% endif %}