{% if include.style == "js" %}  
<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=080808&w=a&t=tt&d=hPOIe9_814_3FJKtk6J0ehDbp0fNGAv5gpzt-8QPuvA&co=ffffff&cmo=6ba1e0&cmn=49df49&ct=808080"></script>
{% elsif include.style == "hiddenpng" %}  
<div hidden class="analytics" aria-hidden="true">
	 <img src="//www.clustrmaps.com/map_v2.png?d={{ site.author.clustrmap }}&cl=ffffff" />
</div>
{% else %}
	 <img src="//www.clustrmaps.com/map_v2.png?d={{ site.author.clustrmap }}&cl=ffffff" />
{% endif %}